html,
body {
    height: 100%;
}
html {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body {
    font-family: Rosario, Helvetica, sans-serif;
    background-color: #fff;
    color: #333345;
}
div#holder {
    min-height: 100%;
    position: relative;
}
div#content {
    padding-bottom: 7em;
}
header,
footer {
    width: 100%;
    float: left;
    /*padding: 15px 0;*/
    background-color: #273a3e;
    color: #fff;
}
header {
    height: 5em;
    -webkit-box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 1);
    margin-bottom: 2.5em;
}
header hgroup {
    float: left;
}

/** Site nav bar. */
header nav {
    float: right;
    text-align: right;
    max-width: 15em;
    margin: 0;
}
header nav ul {
    list-style: none;
}
header nav ul li {
    display: inline;
    padding-left: 1em;
}
header nav a {
    color: #fff;
    text-decoration: none;
    text-transform: lowercase;
    padding: 0.1em 0.5em 0.1em 0.5em;
}
header nav a.h:hover {
    background-color: #ff573b;
}
header nav a.b:hover {
    background-color: #6690fe;
}

footer {
    bottom: 0;
    height: 3.5em;
    position: absolute;
}
footer h4 {
    margin-top: 1em;
}
footer nav {
    float: right;
}
footer nav ul {
    list-style-type: none;
}
footer nav ul li {
    padding-left: 1em;
    float: left;
}
footer nav ul li a {
    display: block;
    width: 25px;
    height: 25px;
    background-image: url(/s/img/badges.png);
}
footer nav ul li a.gh {
    background-position: 0px -50px;
}
footer nav ul li a.li {
    background-position: 0px -25px;
}
footer nav ul li a.fl {
    background-position: 0px -75px;
}

div.limit {
    clear: both;
    max-width: 43.5em;
    position: relative;
    margin: 0 auto;
    padding-left: 1em;
    padding-right: 1em;
}

/** Red */
.style1 {
    color: #FF573B;
}
/** Green */
.style2 {
    color: #56D862;
}
/** Blue */
.style3 {
    color: #6690FE;
}
/** Purple */
.style4 {
    color: #a67dc6;
}
/** Beige */
.style5 {
    color: #cac780;
}

div.l {
    float: left;
}
div.r {
    float: right;
}
div.c {
    clear: both;
}
