<footer>
    <div class="limit">
        <div class="l">
            <h4>&copy; {{ site.name }}</h4>
        </div>

        <nav>
            <ul>
                <li><a href="https://github.com/{{ site.github_username }}" class="gh" title="Fork me on GitHub" /></a></li>
                <li><a href="https://secure.flickr.com/photos/{{ site.flickr_link }}" class="fl" /></a></li>
                <li><a href="https://twitter.com/{{ site.twitter_username }}" class="tw" title="You should follow me on Twitter" /></a></li>
                <li><a href="https://www.linkedin.com/pub/{{ site.linkedin_link }}" class="li" /></a></li>
            </ul>
        </nav>

        <div class="c"></div>
    </div>
</footer>

{% include _analytics.html %}

