<head>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <title>{{ site.name }}</title>
    <meta name="description" content="Web developer and UI designer." />
    <meta name="author" content="Andrei Nicholson" />
    <meta name="keywords" content="andrei, andre, nicholson, developer, programmer, designer, neo-anime, python, crystal reports, php, c#, .net, java, visual studio, lamp, linux, sql, postgresql, mssql, mysql, javascript, jquery, html5, subversion, git" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Cantora+One|Istok+Web" rel="stylesheet" type="text/css" />
    <link href="{{ "/css/main.css" | prepend: site.baseurl }}" rel="stylesheet" type="text/css" />
    <meta name="robots" content="FOLLOW,INDEX" />
    <link rel="me" href="{{ site.baseurl }}" />
</head>

