{% extends "base.html" %}

{% block content %}
<article>
    <div id="intro">
        <h3>I'm a passionate <span class="style1">web developer</span>
        and <span class="style2">UI designer</span>. I create
        <span class="style3">solutions</span> that inspire confidence.</h3>
    </div>
    <hr>
    <div id="outro">
        <h3>I'm fanatical about user experiences and design.
        When there's time I use
        <a href="https://github.com/tetsuo13" rel="me" class="style2">GitHub</a>,
        upload photos to
        <a href="https://secure.flickr.com/photos/90329256@N00/" rel="me" class="style1">Flickr</a>,
        get creative with
        <a href="https://www.tadaa.net/tetsuo13" rel="me" class="style3">tadaa</a>
        and
        <a href="https://instagram.com/tetsuo13/" rel="me" class="style3">Instagram</a>,
        post on
        <a href="https://twitter.com/tetsuo13" rel="me" class="style4">Twitter</a>,
        and neglect Facebook. Send me an
        <a href="mailto:contact@andreinicholson.com" rel="me" class="style5">email</a>.</h3>
    </div>

    <aside>
        <div class="l">
            <h3 class="style3">Areas of Interest</h3>
            <p>Mobile web development<br>
            Security<br>
            Scalability</p>
        </div>

        <div class="r">
            <h3 class="style2">Get in Touch</h3>
            <a href="mailto:contact@andreinicholson.com">contact@andreinicholson.com</a>
        </div>
        <div class="c" />
    </aside>
</article>
{% endblock %}
