{{ define "main" }}

{{ $pages := where site.RegularPages "Type" "blog" }}
{{ range $pages }}
  <article class="mb-18" itemscope itemtype="https://schema.org/BlogPosting" itemid="{{ .Permalink }}">
    <header>
      <time class="text-gray-400 font-semibold uppercase" itemprop="datePublished" datetime="{{ .PublishDate.Format "2006-01-02" }}">
        {{ .PublishDate | time.Format "2 Jan 2006" }}
      </time>
      <h2 class="font-semibold text-3xl text-black pt-2" itemprop="name">
        <a href="{{ .RelPermalink }}" rel="bookmark">{{ .Title }}</a>
      </h2>
    </header>
    <section class="pt-2" itemprop="abstract">
      {{ .Description | .Page.RenderString }}
    </section>
  </article>
{{ end }}

{{ end }}
