{{ define "main" }}

<article itemscope itemtype="https://schema.org/BlogPosting" itemid="{{ .Permalink }}">
  <header>
    <h1 class="font-semibold text-3xl text-black" itemprop="name">{{ .Title }}</h1>
    <time class="text-gray-400 font-semibold" itemprop="datePublished" datetime="{{ .PublishDate.Format "2006-01-02" }}">
      {{ .PublishDate | time.Format "2 Jan 2006" }}
    </time>
  </header>

  <section class="pt-12" itemprop="articleBody">
    {{ .Content }}
  </section>
</article>

{{ end }}
