<meta name="description" content="{{ .Site.Params.description }}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="author" content="{{ .Site.Params.author }}" />

<link rel="canonical" href="{{ .Permalink }}" />
<link rel="home" href="{{ .Site.BaseURL }}" />

{{ template "_internal/opengraph.html" . }}

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "@id": "{{ .Site.BaseURL }}",
  "name": "{{ .Site.Params.author }}",
  "email": "{{ .Site.Params.email }}",
  "description": "{{ .Site.Params.description }}",
  "url": "{{ .Site.BaseURL }}"
}
</script>

{{- /** Npm script will minify this CSS file, no need to do that here */ -}}
{{- with $css := resources.Get "css/output.css" | resources.Fingerprint "sha256" -}}
  <link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}" />
{{- end -}}
