<meta name="description" content="{{ .Site.Params.description }}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="{{ .Site.Params.author }}">

<link rel="canonical" href="{{ .Permalink }}">
<link rel="home" href="{{ .Site.BaseURL }}">

<meta property="og:site_name" content="{{ .Site.Title }}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ .Site.Title }}">
<meta property="og:description" content="{{ .Site.Params.description }}">
<meta property="og:url" content="{{ .Site.BaseURL }}">

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "@id": "{{ .Site.BaseURL }}",
  "name": "{{ .Site.Params.author }}",
  "email": "{{ .Site.Params.email }}",
  "description": "{{ .Site.Params.description }}",
  "url": "{{ .Site.BaseURL }}"
}
</script>

<!-- CSS files are read in alphabetical order. Be mindful of file names if order matters. -->
{{ with $styles := resources.Match "css/*.css" | resources.Concat "main.css" | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}" media="screen">
{{ end }}
