<main itemscope itemtype="https://schema.org/Person">
  <h1>Hi, I'm <span itemprop="givenName">Andrei</span>.</h1>

  <h2 itemprop="knowsAbout">
    I'm a passionate developer and UI designer.
    I create solutions that inspire confidence.
  </h2>

  <ul>
    <li>
      {{ $image := resources.Get "/images/github-logo.svg" | fingerprint }}
      <a href="https://github.com/{{ .Site.Params.gitHubUsername }}" target="_blank" rel="noreferrer" itemprop="sameAs" aria-label="{{ .Site.Params.Author }} on GitHub"><img
        src="{{ $image.RelPermalink }}" alt="GitHub logo" /></a>
    </li>

    <li>
      {{ $image := resources.Get "/images/flickr-logo.svg" | fingerprint }}
      <a href="https://www.flickr.com/photos/{{ .Site.Params.flickrPhotostream }}" target="_blank" rel="noreferrer" itemprop="sameAs" aria-label="{{ .Site.Params.Author }} occasionally posting photos to Flickr"><img
        src="{{ $image.RelPermalink }}" alt="Flickr logo" /></a>
    </li>

    <li>
      {{ $image := resources.Get "/images/linkedin-logo.svg" | fingerprint }}
      <a href="https://www.linkedin.com/in/{{ .Site.Params.linkedInProfile }}" target="_blank" rel="noreferrer" itemprop="sameAs" aria-label="{{ .Site.Params.Author }} on LinkedIn"><img
        src="{{ $image.RelPermalink }}" alt="LinkedIn logo" /></a>
    </li>
  </ul>
</main>

