<!doctype html>
<html lang="en" itemscope itemtype="http://schema.org/Person">
    <head>
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
        <title>{{ .Site.Params.Author }}</title>
        <meta name="description" content="{{ .Site.Params.description }}" />
        <meta name="author" content="{{ .Site.Params.Author }}" />
        <meta name="keywords" content="andrei, andre, nicholson, developer, programmer, designer, neo-anime, python, crystal reports, php, c#, .net, java, visual studio, lamp, linux, sql, postgresql, mssql, mysql, javascript, jquery, html5, subversion, git" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="google-site-verification" content="PUTIHJ5McBGYxZWNxiJam9T4gozdpxp4frsh_fR5GOM" />
        <link href="/css/normalize.css" rel="stylesheet" type="text/css" />
        <link href="/css/base.css" rel="stylesheet" type="text/css" />
        <meta name="robots" content="FOLLOW,INDEX" />
        <link rel="me" href="{{ .Site.BaseURL }}" />
    </head>
    <body>

        <div id="holder">
            <header>
                <div class="limit">
                    <hgroup>
                        <h2 title="{{ .Site.Params.Author }} is a web developer and UI designer" itemprop="name">{{ .Site.Params.Author }}</h2>
                    </hgroup>
                </div>
            </header>

            <div id="content" class="limit">
                <article>
                    <div id="intro" itemprop="description">
                        <h3>
                            I'm a passionate <span class="style1">web developer</span>
                            and <span class="style2">UI designer</span>. I create
                            <span class="style3">solutions</span> that inspire confidence.
                        </h3>
                    </div>

                    <hr />

                    <div id="outro">
                        <h3>
                            I'm fanatical about user experiences and design.
                            When there's time I use
                            <a href="https://github.com/{{ .Site.Params.github_username }}" rel="me" class="style2">GitHub</a>,
                            upload photos to
                            <a href="https://secure.flickr.com/photos/{{ .Site.Params.flickr_link }}" rel="me" class="style1">Flickr</a>,
                            get creative with
                            <a href="https://instagram.com/{{ .Site.Params.instagram_username }}" rel="me" class="style3">Instagram</a>,
                            post on
                            <a href="https://twitter.com/{{ .Site.Params.twitter_username }}" rel="me" class="style4">Twitter</a>,
                            and neglect Facebook. Send me an
                            <a href="mailto:{{ .Site.Params.email }}" rel="me" class="style5">email</a>.
                        </h3>
                    </div>

                    <aside>
                        <div class="l">
                            <h3 class="style3">Areas of Interest</h3>
                            <p>
                                Mobile web development<br />
                                Security<br />
                                Scalability
                            </p>
                        </div>

                        <div class="r">
                            <h3 class="style2">Get in Touch</h3>
                            <a href="mailto:{{ .Site.Params.email }}" itemprop="email">{{ .Site.Params.email }}</a>
                        </div>
                        <div class="c"></div>
                    </aside>
                </article>
            </div>

            {{ partial "footer.html" . }}
        </div>

    </body>
</html>
