{% load base %}
{% is_mobile as mobile %}
{% gather_analytics as analytics %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
<title>{% block title %}Andrei Nicholson{% endblock %}</title>
<meta name="description" content="Web developer and UI designer." />
<meta name="author" content="Andrei Nicholson" />
<meta name="keywords" content="andrei, andre, nicholson, developer, programmer, designer, neo-anime" />
{% if mobile %}
<meta name="viewport" content="width=initial-scale=0.7,maximum-scale=0.7,user-scalable=0;" />
{% endif %}
<link href="//fonts.googleapis.com/css?family=Rosario" rel="stylesheet" type="text/css" />

{% load assets %}
{% assets filters="cssutils", output="content.css", "css/normalize.css", "css/base.css", "css/home.css" %}
<link href="{{ ASSET_URL }}" rel="stylesheet" type="text/css" />
{% endassets %}

<meta name="robots" content="FOLLOW,INDEX" />
<link rel="me" href="http://andreinicholson.com/" />

{% if not mobile %}
<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
{% endif %}

</head>

<body{% if mobile %} onload="setTimeout(function() { window.scrollTo(0, 1); }, 100);"{% endif %}>

<div id="holder">
<header>
    <div class="limit">
        <hgroup>
            <h2 title="Andrei Nicholson is a web developer and UI designer">Andrei Nicholson</h2>
        </hgroup>
<!--
        <nav>
            <ul>
                <li><a href="/" class="h{% if current_nav == 'home' %} cur{% endif %}">Home</a></li>
                <li><a href="/notes" class="b{% if current_nav == 'blog' %} cur{% endif %}">Blog</a></li>
            </ul>
        </nav>
-->
    </limit>
</header>

<div id="content" class="limit">
    {% block content %}{% endblock %}
</div>

<footer>
    <div class="limit">
        <div class="l">
            <h4>&copy; Andrei Nicholson</h4>
        </div>
        <nav>
            <ul>
                <li><a href="https://github.com/tetsuo13" class="gh" title="Fork me on GitHub" /></a></li>
                <li><a href="http://www.flickr.com/photos/90329256@N00/" class="fl" /></a></li>
                <li><a href="https://twitter.com/tetsuo13" class="tw" title="You should follow me on Twitter" /></a></li>
                <li><a href="https://www.linkedin.com/pub/andrei-nicholson/6/697/2a4" class="li" /></a></li>
            </ul>
        </nav>
        <div class="c" />
    </div>


{% if not mobile %}
<!--[if lt IE 7 ]>
<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
<script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
<![endif]-->
{% endif %}

{% if analytics %}
<script type="text/javascript">
var pkBaseURL = "http://analytics.andreinicholson.com/";
document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
</script><script type="text/javascript">
try {
var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 9);
piwikTracker.trackPageView();
piwikTracker.enableLinkTracking();
} catch( err ) {}
</script><noscript><p><img src="http://analytics.andreinicholson.com/piwik.php?idsite=9" style="border:0" alt="" /></p></noscript>
{% endif %}
</footer>

</div>

</body>
</html>
