<!doctype html>
<html lang="en" itemscope itemtype="http://schema.org/Person">
    {% include _head.html %}
    <body>

        <div id="holder">
            <header>
                <div class="limit">
                    <hgroup>
                        <h2 title="{{ site.name }} is a web developer and UI designer" itemprop="name">{{ site.name }}</h2>
                    </hgroup>
                </div>
            </header>

            <div id="content" class="limit">
                {{ content }}
            </div>

            {% include _footer.html %}
        </div>

    </body>
</html>

